
body{
    background-color: grey;
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    font-family: "poppins";
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: 0;
    place-items: center;
    justify-content: center;
}

.LSFform, .LSFform_in{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    place-items: center;
}

.LSFform{
    padding: 25px;
    border-radius: 15px;
    border: 2px black solid;
}

.form_elements{
    font-weight: 600;
    border-radius: 3px;
    border: 2px lightgrey solid;
    margin: 15px;
    font-size: 20px;
    width: 100%;
    transition: border 200ms ease-in-out;
}

.form_elements:focus{
    border: 2px black solid;
    outline: none;
    transition: border 200ms ease-in-out;
}

.form_buttons{
    padding: 8px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: cyan;
    border: 1px black solid;
    border-radius: 10px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.form_buttons:hover{
    scale: 1.05;
    background-color: black;
    border: 1px cyan solid;
    color: white;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out;
}