body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 45px;
}

.report-container {
    background-color: #ffffff;
    min-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Aligns the buttons vertically */
}

.nav-icons button {
    background: none;
    border: none;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.nav-icons img {
    width: 32px; /* Set a uniform width for the images */
    height: 32px; /* Set a uniform height for the images */
    object-fit: contain; /* Ensures that the aspect ratio is maintained */
}


.username-section {
    display: flex;
    align-items: center;
}

.username-section span {
    font-size: 18px;
    margin-right: 10px;
}

.profile-pic {
    width: 32px; /* Same width as other icons */
    height: 32px; /* Same height as other icons */
    border-radius: 50%; /* To make the image circular */
    object-fit: cover; /* Ensures the image covers the container evenly */
}


.report-list {
    margin-top: 20px;
}

.report-item {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.report-item p {
    font-size: 16px;
    margin: 5px 0;
}

.report-time {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 5px;
}

.report-time img {
    width: 24px;
    margin-right: 10px;
}

footer {
    margin-top: 30px;
    text-align: center;
    padding: 10px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
}
