body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 45px;
}

.medicines-container {
    background-color: #ffffff;
    min-width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Aligns the buttons vertically */
}

.nav-icons button {
    background: none;
    border: none;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.nav-icons img {
    width: 32px; /* Set a uniform width for the images */
    height: 32px; /* Set a uniform height for the images */
    object-fit: contain; /* Ensures that the aspect ratio is maintained */
}


.username-section {
    display: flex;
    align-items: center;
}

.username-section span {
    font-size: 18px;
    margin-right: 10px;
}

.profile-pic {
    width: 32px; /* Same width as other icons */
    height: 32px; /* Same height as other icons */
    border-radius: 50%; /* To make the image circular */
    object-fit: cover; /* Ensures the image covers the container evenly */
}

.pill-icon img {
    width: 80px;
    height: 80px;
}

.date-navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.date-btn {
    background-color: #fff;
    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.date-btn.active {
    background-color: #00d8bf;
    color: #fff;
}

.medicines-list {
    margin-top: 20px;
}

.medicine-item {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.medicine-name {
    font-size: 18px;
    font-weight: bold;
}

.medicine-details {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.medicine-time {
    font-size: 14px;
}

.medicine-time.inactive {
    color: #c0c0c0;
    text-decoration: line-through;
}

.medicine-food {
    font-size: 14px;
    color: #808080;
}

.add_medicine{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.add_medicine_btn{
    font-size: x-large;
    cursor: pointer;
    background-color: white;
    border: none;
}

footer {
    margin-top: 30px;
    text-align: center;
    padding: 10px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
}

.no_medicine{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    place-items: center;
    justify-content: center;
}